[language-server.typescript-language-server]
command = "typescript-language-server"
args = ["--stdio"]

[language-server.gopls]
command = "gopls"

[language-server.rust-analyzer]
command = "rust-analyzer"

[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]

[language-server.nil]
command = "nil"

[language-server.clangd]
command = "clangd"

[[language]]
name = "nix"
language-servers = ["nil"]
auto-format = true

[[language]]
name = "go"
language-servers = ["gopls"]
auto-format = true

[[language]]
name = "rust"
language-servers = ["rust-analyzer"]
auto-format = true

[[language]]
name = "typescript"
language-servers = ["typescript-language-server"]
auto-format = true

[[language]]
name = "javascript"
language-servers = ["typescript-language-server"]
auto-format = true

[[language]]
name = "python"
language-servers = ["pyright"]
auto-format = true

[[language]]
name = "c"
language-servers = ["clangd"]
auto-format = true

[[language]]
name = "cpp"
language-servers = ["clangd"]
auto-format = true
